@include tablet {
  .header {
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    padding: 2rem 2rem 2rem 2.5rem;
  }
  .logo {
    &__img {
      width: 100%;
      max-width: 130px;
    }
  }
  .score {
    padding: 1rem 3.1rem;
    &__text {
      font-size: 1.4rem;
    }

    &__counter {
      font-size: 4.5rem;
    }
  }
  .mainGame {
    height: calc(100vh - 155px);
  }
  .game {
    &__btn {
      width: 140px;
      height: 140px;
      padding: 1.7rem;
    }
    &__btn--scissor {
      transform: translate(-70%, -50%);
    }
    &__btn--paper {
      transform: translate(-30%, -50%);
    }
  }
  .triangle {
    &__img {
      width: 300px;
    }
  }
  .optionIcon {
    &__img {
      width: 45px;
    }
  }
}
