@include tablet {
  .header {
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    padding: 2rem 2rem 2rem 2.5rem;
  }
  .logo {
    &__img {
      width: 100%;
      max-width: 130px;
    }
  }
  .score {
    padding: 1rem 3.1rem;
    &__text {
      font-size: 1.4rem;
    }

    &__counter {
      font-size: 4.5rem;
    }
  }
  .mainGame {
    height: calc(100vh - 155px);
  }
  .game {
    &__btn {
      width: 140px;
      height: 140px;
      padding: 1.7rem;
    }
    &__btn--scissor {
      transform: translate(-70%, -50%);
    }
    &__btn--paper {
      transform: translate(-30%, -50%);
    }
  }
  .triangle {
    &__img {
      width: 300px;
    }
  }
  .optionIcon {
    &__img {
      width: 45px;
    }
  }
  .btn {
    &--rule {
      left: 85%;
    }
  }

  .ruleModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 3rem;
    border-radius: 10px;
    &__heading {
      padding-bottom: 0;
      flex-basis: 90%;
    }

    &__img {
      margin-top: 3rem;
      flex-basis: 100%;
      order: 2;
    }

    &__close {
      margin-top: 0;
      font-size: 2rem;
    }
  }
}
