.header {
  width: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 5px;
  border: 3px solid rgba($color: #fff, $alpha: 0.3);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    width: 100%;
    max-width: 80px;
  }
}

.score {
  padding: 1rem 2.1rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.1rem;

  &__text {
    font-size: 1rem;
    color: hsl(229, 64%, 46%);
    display: block;
  }

  &__counter {
    font-size: 3rem;
    display: block;
    font-weight: 700;
    color: $dark-text;
  }
}
